<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/foxyrepo</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">1607mJ75580180769</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
    <mapping class="ru.foxyrepo.website.model.Article"/>
    <mapping class="ru.foxyrepo.website.model.Category"/>
    <mapping class="ru.foxyrepo.website.model.Favorites"/>
    <mapping class="ru.foxyrepo.website.model.Profile"/>
    <mapping class="ru.foxyrepo.website.model.Status"/>
    <mapping class="ru.foxyrepo.website.model.WriterRequest"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>