<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Статья</title>
    <link rel="stylesheet" th:href="@{css/navigation_panel.css}">
    <link rel="stylesheet" th:href="@{css/article.css}">
</head>
<body>
<div class="header">
    <!--    навигационная панель-->
    <nav class="nav_container">
        <div class="nav">
            <div class="logo">
                <a class="logo"th:href="@{index}">
                    <p>
                        <span>F</span>
                        <span>O</span>
                        <span>X</span>
                        <span>Y</span>
                    </p>
                    <p class="second_str">
                        <span>R</span>
                        <span>E</span>
                        <span>P</span>
                        <span>O</span>
                    </p>
                </a>
            </div>
            <div class="menu">
                <a th:href="@{all}"><div class="menu_elem first">ВСЕ СТАТЬИ</div></a>
                <a th:href="@{popular}"><div class="menu_elem second">ПОПУЛЯРНОЕ</div></a>
                <a th:href="@{about}"><div class="menu_elem three">О ПЛОЩАДКЕ</div></a>
                <div class="profile dropdown">
                    <div class="menu_elem"> <img class="menu_elem" th:src="@{images/icon-profile.png}">
                        <div class="dropdown-content">
                            <a sec:authorize="!isAuthenticated()" th:href="@{login}">Войти</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{cabinet}">Кабинет</a>
                            <a sec:authorize="!isAuthenticated()" th:href="@{registration}">Зарегистрироваться</a>
                            <form sec:authorize="isAuthenticated()" id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <a onclick="document.forms['logoutForm'].submit()">Выход</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="article-name" th:text="${article.getTitle()}">
    </div>
    <div class="about_repo">
        <p>
            <img th:src="@{${article.getPicture()}}">
            <span th:text="${article.getDocument()}"></span>
        </p>
        <p class="category">Категория: <span th:text="${category.getNameCategory()}"></span></p>
    </div>
    <div class="article-footer">
        <form sec:authorize="isAuthenticated()" th:action="@{/like(idArticle=${article.getIdArticle()}, user=${#authentication.principal.username})}" method="post">
            <span class="like"><button>Добавить в избранное <img th:src="@{images/icon-like.png}"></button></span>
        </form>
        <span class="date">Дата: <span th:text="${#dates.format(article.getCreationDate(), 'dd-MMM-yyyy')}"></span></span>
    </div>
</div>
<div class="footer">
    <div class="footer_container">
        <div class="footer-col"><span>Энциклопедия © 2023</span></div>
        <div class="footer-col">
            <div class="social-bar-wrap">
                <a title="Facebook" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/facebook.png}"></a>
                <a title="VK" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/vk.png}"></a>
                <a title="Telegram" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/telegram.png}"></a>
                <a title="Instagram" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/instagram.png}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>