<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" th:href="@{css/navigation_panel.css}">
    <link rel="stylesheet" th:href="@{css/cabinet.css}">
</head>
<body>
<div class="header">
    <!--    навигационная панель-->
    <nav class="nav_container">
        <div class="nav">
            <div class="logo">
                <a class="logo" th:href="@{index}">
                    <p>
                        <span>F</span>
                        <span>O</span>
                        <span>X</span>
                        <span>Y</span>
                    </p>
                    <p class="second_str">
                        <span>R</span>
                        <span>E</span>
                        <span>P</span>
                        <span>O</span>
                    </p>
                </a>
            </div>
            <div class="menu">
                <a th:href="@{all}"><div class="menu_elem first">ВСЕ СТАТЬИ</div></a>
                <a th:href="@{popular}"><div class="menu_elem second">ПОПУЛЯРНОЕ</div></a>
                <a th:href="@{about}"><div class="menu_elem three">О ПЛОЩАДКЕ</div></a>
                <div class="profile dropdown">
                    <div class="menu_elem"> <img class="menu_elem" th:src="@{images/icon-profile.png}">
                        <div class="dropdown-content">
                            <a sec:authorize="!isAuthenticated()" th:href="@{login}">Войти</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{cabinet}">Кабинет</a>
                            <a sec:authorize="!isAuthenticated()" th:href="@{registration}">Зарегистрироваться</a>
                            <form sec:authorize="isAuthenticated()" id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <a onclick="document.forms['logoutForm'].submit()">Выход</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-profile">
    <div class="upper-container">
        <div class="profile-logo"><img th:src="@{images/profle.png}"></div>
        <div class="profile-info">
            <p><span class="user-login">login: </span><span th:text="${profile.getLogin()}"></span></p>
            <p><span class="user-about">о себе: </span><span th:text="${profile.getAbout()}"></span></p>
        </div>
        <div class="profile-buttons">
            <form sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WRITER')" th:action="@{/writing-article}" method="get">
                <button class="create-article">Создать статью</button><br>
            </form>
            <form sec:authorize="hasAnyRole('ROLE_READER')" th:action="@{/create-writer(idCreateWriter=${profile.getIdProfile()})}" method="post">
                <button class="become-writer">Стать писателем</button>
            </form>
        </div>
    </div>
    <div class="contacts">
        <p class="contacts-label">Контакты:</p>
        <p class="contact-tg"><span class="tg-label">tg: </span><span>telegram</span></p>
        <p class="contact-mail"><span class="mail-label">email: </span><span th:text="${profile.getMail()}"></span></p>
    </div>
    <div class="menu-bar">
        <div class="favourites"><button class="menu-buts" onclick="show(1)">Избранное</button></div>
        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WRITER')" class="publications"><button class="menu-buts" onclick="show(2)">Публикации</button></div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="request"><button class="menu-buts" onclick="show(3)">Запрос стать писателем</button></div>
    </div>
</div>
<div class="container">
<!--   избранное-->
    <div id="favourites-posts" class="punct f-posts">
        <a th:each="article : ${favoriteArticle}" th:href="@{articles(id=${article.getIdArticle()})}"><div class="fav-post-container">
            <p class="fp-category">Категория: <span th:text="${selectCategory[__${article.getIdClass()}__L]}"></span></span></p>
            <p class="fav-post-title" th:text="${article.getTitle()}"></p>
            <p><span><img th:src="@{images/icon-like.png}">  </span><span th:text="${article.getLikeCounter()}"></span><span class="fp-date">Дата: <span th:text="${#dates.format(article.getCreationDate(), 'dd-MMM-yyyy')}"></span></span></p>
        </div></a>
    </div>

<!--    публикации-->
    <div id="published-posts" class="punct pub-posts">
<!--        для одной публикации -->
        <a th:each="article : ${publishedArticles}" th:href="@{articles(id=${article.getIdArticle()})}"><div class="pub-post-container">
            <p class="pp-category">Категория: <span th:text="${selectCategory[__${article.getIdClass()}__L]}"></span></p>
            <p class="pub-post-title" th:text="${article.getTitle()}"></p>
            <p class="pp-summary" th:text="${article.getSummary()}"></p>
            <p class="pp-date">Дата: <span th:text="${#dates.format(article.getCreationDate(), 'dd-MMM-yyyy')}"></span></p>
        </div></a>
    </div>
<!--    запросы-->
    <div id="requested" class="punct reqs">
        <div class="request-person" th:each="user : ${requestWriter}">
            <div class="person-info">
                <div class="prof-img"><img class="pf-img" th:src="@{images/icon-profile.png}"></div>
                <div class="prof-info">
                    <p><span class="val-name">Дата регистрации аккаунта: </span>
                        <span class="val" th:text="${#dates.format(user.getRegistration(), 'dd-MMM-yyyy')}"></span>
                        <span class="val-name right">Email: </span>
                        <span class="val right" th:text="${user.getMail()}"></span>
                    </p>
                    <p>
                        <span class="val-name">Telegram: </span>
                        <span class="val">nik_name</span>
                        <span class="val-name right">Login: </span>
                        <span class="val right" th:text="${user.getLogin()}"></span>
                    </p>
                    <p>
                        <span class="val-name">About: </span>
                        <span class="val" th:text="${user.getAbout()}"></span>
                    </p>
                </div>
            </div>
            <form th:action="@{/confirm-writer(idConfirmWriter=${user.getIdProfile()})}" method="post">
                <div class="button-approve"><button class="req-but">Одобрить</button></div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_container">
        <div class="footer-col"><span>Энциклопедия © 2023</span></div>
        <div class="footer-col">
            <div class="social-bar-wrap">
                <a title="Facebook" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/facebook.png}"></a>
                <a title="VK" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/vk.png}"></a>
                <a title="Telegram" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/telegram.png}"></a>
                <a title="Instagram" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/instagram.png}"></a>
            </div>
        </div>
    </div>
</div>
<script>
    let menuIndex = 1;
    show(menuIndex);
    function show(n) {
        const slides = document.getElementsByClassName("punct");
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[n-1].style.display = "initial";
        const buttons = document.getElementsByClassName("menu-buts");
        for (let j = 0; j < buttons.length; j++) {
            buttons[j].classList.remove('active');
        }
        buttons[n-1].classList.add('active');
    }
</script>
</body>
</html>