<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Написание статьи</title>
    <link rel="stylesheet" th:href="@{css/navigation_panel.css}">
    <link rel="stylesheet" th:href="@{css/writing_article.css}">
    <script th:src="@{https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js}"></script>
</head>
<body>
<div class="header">
    <!--    навигационная панель-->
    <nav class="nav_container">
        <div class="nav">
            <div class="logo">
                <a class="logo" th:href="@{index}">
                    <p>
                        <span>F</span>
                        <span>O</span>
                        <span>X</span>
                        <span>Y</span>
                    </p>
                    <p class="second_str">
                        <span>R</span>
                        <span>E</span>
                        <span>P</span>
                        <span>O</span>
                    </p>
                </a>
            </div>
            <div class="menu">
                <a th:href="@{all}"><div class="menu_elem first">ВСЕ СТАТЬИ</div></a>
                <a th:href="@{popular}"><div class="menu_elem second">ПОПУЛЯРНОЕ</div></a>
                <a th:href="@{about}"><div class="menu_elem three">О ПЛОЩАДКЕ</div></a>
                <div class="profile dropdown">
                    <div class="menu_elem"> <img class="menu_elem" th:src="@{images/icon-profile.png}">
                        <div class="dropdown-content">
                            <a sec:authorize="!isAuthenticated()" th:href="@{login}">Войти</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{cabinet}">Кабинет</a>
                            <a sec:authorize="!isAuthenticated()" th:href="@{registration}">Зарегистрироваться</a>
                            <form sec:authorize="isAuthenticated()" id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <a onclick="document.forms['logoutForm'].submit()">Выход</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="article-form">
        <form class="art-form" th:action="@{/writing-article(user=${#authentication.principal.username})}" method="POST" enctype="multipart/form-data">
            <p class="str str1"><span class="f-name">Title</span> <input type="text" class="art-into f-value" name="title" required></p>
            <div class="str txtar"><span class="f-name">Summary</span> <textarea class="art-into f-value" name="summary" required></textarea></div>
            <!-- <p class="str"><span class="f-name">Upload an image</span> <input type="file" class="art-img f-value" name="image" required></p>-->
            <div class="editor"><textarea id="write" name="document"></textarea></div>
            <p class="str selectp"><span class="f-name">Select a category</span>
                <select class="f-value select" name="category" required>
                    <option value=""></option>
                    <option th:each="entry : ${selectCategory}" th:value="${entry.key}"> <span th:text="${entry.value}"></span></option>
                </select>
            </p>
            <p class="str btn"><button type="submit" class="publish">Publish</button> </p>
        </form>
    </div>
</div>
<div class="footer">
    <div class="footer_container">
        <div class="footer-col"><span>Энциклопедия © 2023</span></div>
        <div class="footer-col">
            <div class="social-bar-wrap">
                <a title="Facebook" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/facebook.png}"></a>
                <a title="VK" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/vk.png}"></a>
                <a title="Telegram" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/telegram.png}"></a>
                <a title="Instagram" href="https://vk.com/ivanhoe_kn" target="_blank"><img th:src="@{images/instagram.png}"></a>
            </div>
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace('write', {
        extraPlugins: 'basicstyles, format'
    });
</script>
</body>
</html>